<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand pl-5" href="#"><img src="assets/popflix.png" alt="" style="width: 150px; height: 150px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase" routerLink="/coming">Upcoming</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase" routerLink="/home">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="list row">
    <div class="col-md-8">
        
      </div>
    </div>
    <div class="col-md-6" style="background-color: white; text-align: center; margin: auto; border-color: turquoise;" >
        <h4 >Movies List</h4>
        <ul class="list-group">
            <li
            class="list-group-item"
            *ngFor="let movie of movies; let i = index"
            [class.active]="i == currentIndex"
            (click)="setActiveMovie(movie,i)"
            >
            {{ movie.id }}
            </li>
        </ul>

        <button class="m-3 btn btn-sm btn-danger" (click)="deleteMovies()">
            Remove All
        </button>
    </div>
   


<!-- 
<div class="list row">
  <div class="col-md-6">
    
    <h4 style="color: white;">Movies List</h4>
      <ul class="list-group">

        <li class="list-group-item"
          
          *ngFor="let movie of movies; let i = index"
          [class.active] = "i == currentIndex"
          (click) = "setActiveMovie(movies, i)"

          >{{movies.title}}
        </li>
     
        <li 
      class="list-group-item active" style="color: white;">Added Movies</li>
        
        {{movies.title}}
      </ul>
      
  </div>
  <div class="col-md-6">
    <div *ngIf="currentMovie">
      <h4>Movie</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentMovie }}
        <a class="badge badge-warning" (click)="deleteMovies()")>
            delete
        </a>
      </div>
    </div>

  </div>
   <div *ngIf="submitted">
      
   </div> 
</div>-->

